@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.heading {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 700;
  /* margin-left: 15px; */
  text-align: center;
  margin-top: 20px;
}
.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 35px;
}

ul > li {
  padding: 15px;
  list-style: none;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  text-decoration: none;
}

.btn {
  background-color: #ff4e4e;
  width: 100px;
  height: 40px;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 120px;
  margin-top: 15px;
  margin-left: 70px;
  cursor: pointer;
}
